---
const people = [
	{name:'Kristen Ramos', email: 'kristen.ramos@example.com'},
	{name:'Floyd Miles', email: 'floyd.miles@example.com'},
	{name:'Courtney Henry', email: 'courtney.henry@example.com'},
	{name:'Ted Fox', email: 'ted.fox@example.com'},
];
const staff = [
{url: '#', name:'Leslie Abbot', title: 'Co-Founder / CEO', phone: '111111'},
{url: '#', name:'Hector Adams', title: 'VP, Marketing', phone: '222222'},
{url: '#', name:'Blake Alexander', title: 'Account Coordinator', phone: '333333'},
];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	<body class="bg-white-800">
		<h1>My Astro Site</h1>
		<script src="preline/dist/preline"></script>
		<ul role="list" class="p-6 divide-y divide-slate-200">
			{people.map((person) => <li class="flex py-4 first:pt-0 last:pb-0 odd:bg-white even:bg-slate-100">
				<div class="ml-3 overflow-hidden">
				<p class="text-sm font-medium text-slate-900">{person.name}</p>
				<p class="text-sm text-slate-500 truncate">{person.email}</p>	
				</div>
				</li>)}
		</ul>

		<a href="#" class="group block max-w-xs mx-auto rounded-lg p-6 bg-white ring-1 ring-slate-900/5 shadow-lg space-y-3 hover:bg-sky-500 hover:ring-sky-500">
			<div class="flex items-center space-x-3">
				<svg class="h-6 w-6 stroke-sky-500 group-hover:stroke-white" fill="none" viewBox="0 0 24 24"><!-- ... --></svg>
				<h3 class="text-slate-900 group-hover:text-white text-sm font-semibold">Новый проект</h3>
			</div>
			<p class="text-slate-500 group-hover:text-white text-sm">Создайте новый проект из множества начальных шаблонов.</p>
		</a>

		<ul>
			{staff.map((person) => <li class="group/item hover:bg-slate-100">
				<div>
					<a href="{person.url}">{person.name}</a>
					<p>{person.title}</p>
					<p>{person.phone}</p>
				</div>
				<div>
				<a class="group/edit invisible hover:bg-slate-200 group-hover/item:visible" href="tel:{person.phone}">
					<span class="group-hover/edit:text-gray-700">Call</span>
					<span class="group-hover/edit:translate-x-0.5 group-hover/edit:text-slate-500">
        </span>
				</a>
				</div>
				</li>)}
		</ul>
	</body>
</html>
